.chat-container {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 700px;
  width: 500px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.6);
}

*:focus {
  outline: none;
}

.send-text {
  border-color: rgba(0, 0, 0, 0.4);
}

.chat-dropdown {
  background-color: transparent;
  border: white 2px solid;
}

.chat-dropdown:hover {

}

@keyframes change-color {
  0%, 100% {
    background-color: white;
  }
  50% {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.dot {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: white;
  margin: 3px;
  display: inline-block;
  animation: change-color 1s infinite ease-in-out;
}

.rotate {

}

.delay-1 {
  animation-delay: 0s;
}
.delay-2 {
  animation-delay: 0.33s;
}
.delay-3 {
  animation-delay: 0.66s;
}

:root {
  --matr-navbar-text-color: #DDEBE9;
  --matr-navbar-highlight-text: #3F8880;
}

body {
  /*padding: 10px;*/
  font-family: sans-serif;
  background-color: var(--matr-navbar-text-color);
}

footer, footer a {
  background-color: #0B6191;
  color: var(--matr-navbar-text-color);
}

footer a:hover {
  color: var(--matr-navbar-highlight-text);
}

#basic-navbar-nav div a {
  color: black;
  font-size: 15px;
  position: relative;
  transition: all 0.4s;
  padding: 0 20px 10px 20px;
}

#basic-navbar-nav div a:hover::after, #basic-navbar-nav div a:focus, #basic-navbar-nav div a:focus::after {
  color: var(--matr-navbar-highlight-text);
  opacity: 1;
}

#basic-navbar-nav div a::after  {
  content: '';
  height: 2px;
  width: 100%;
  background: #0B6191;
  position: absolute;
  left: 0;
  bottom: -2px;
  opacity: 0;
  transition: all 0.2s;
}

#socials {
  font-size: 18px;
  --bs-nav-link-hover-color: var(--matr-navbar-highlight-text);
}

#helpDesk div h1 {
  color: var(--matr-navbar-highlight-text);
}

#hd-images {
  border-radius: 100%;
  width: 300px;
}

#hoku {
  float: left;
}







